	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-8 col-with-border" >
			<div class="row row-separator">
				<div class="col-xs-8 pull-left col-without-padding">
					<span class="label label-default label-header-sm">List of Documents</span>
				</div>
				<div class="col-xs-1 pull-right">
					
					<button type="button" class="btn btn-default btn-sm pull-right" ng-click="descargarDocumento()" title="download file"><span class="icon-download rojoSpt">&nbsp;</span></button>
					
				</div>
			</div>
			<div class="row">
				<div class=" col-xs-12" >
					<div class="row">
						<div class="col-xs-12">
							<div spt-k-grid="tablaDocumentos" spt-k-grid-titulo=""></div>
						</div>
					</div>           
				</div>
			</div>
		</div>
		
                 
	</div>
</div>

		