
<div class="container-fluid">


<div class="row">
	<div class="col-xs-11 col-with-border" >
		<div class="row row-separator">
			<div class="col-xs-8 pull-left col-without-padding">
				<span class="label label-default label-header-sm">Service List</span>
			</div>
			<div class="col-xs-3  col-without-padding pull-right">
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="exportarPDF()" title="Export to Pdf"><img src="/js/angularApps/proveedores/Assets/_img/acroread.png"></button>
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="exportarExcel()" title="Export to Excel"><img src="/js/angularApps/proveedores/Assets/_img/excel.png"></span></button>
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="confirmarServiciosExpediente()" title="confirm services"><span class="icon-checkmark rojoSpt">&nbsp;</span></button>
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="gotoRoomingList()" title="rooming list"><span class="icon-list rojoSpt">&nbsp;</span></button>
				<!-- <button type="button" class="btn btn-default btn-sm pull-right" ng-click="openCambiarProveedor()" title="change supplier"><span class="icon-refresh rojoSpt">&nbsp;</span></button> -->
			</div>
			
		</div>
		<div class="row">
			<div class="col-xs-2">
			   <label>from date</label>
				<div spt-fecha calendario="true" ng-model="model.startingDateFilter" spt-directiva="{bsClass:'sm'}"></div>
			</div>
			<div class="col-xs-2">
			   <label>to date</label>
				<div spt-fecha calendario="true" ng-model="model.endingDateFilter" spt-directiva="{bsClass:'sm'}"></div>
			</div>
			<div class="col-xs-2">
				<label>&nbsp;</label>
				<div class="input-group input-group-sm">
					<button type="button" class="btn btn-default" ng-click="obtenerListadoServiciosExpediente()" title="Search Services"><span class="icon-magnifier"></span>&nbsp;Search</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" >
				<div class="row">
					<div class="col-xs-12">
						<div spt-k-grid="tablaServiciosExpediente" spt-k-grid-titulo=""></div>
					</div>
				</div>           
			</div>
		</div>
	</div>
</div>




    
   

</div>
