
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-9 col-with-border" >
			<div class="row">
				<div class="col-xs-9 pull-left col-without-padding">
					<span class="label label-default label-header-sm">Services List to Invoice</span>
				</div>
				<div class="col-xs-3  col-without-padding">
					<button type="button" class="btn btn-default btn-sm pull-right" ng-click="facturarServicios();" title="invoice services"><span class="icon-cash rojoSpt"></span></button>
				</div>
			</div>
			<div class="row">
				<div class=" col-xs-12" >
					<div class="row">
						<div class="col-xs-12">
							<div spt-k-grid="tablaFacturas" spt-k-grid-titulo=""></div>
						</div>
					</div>           
				</div>
			</div>
		</div>
	</div>
</div>
