
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-8 col-with-border" >
			<div class="row row-separator">
				<div class="col-xs-9 pull-left col-without-padding">
					<span class="label label-default label-header-sm">Insurance List</span>
				</div>
				<div class="col-xs-3  col-without-padding">
					<button type="button" class="btn btn-default btn-sm pull-right" ng-click="exportarExcel()" title="Export to Excel"><img src="/js/angularApps/proveedores/Assets/_img/excel.png"></span></button>
				</div>
			</div>
			<div class="row">
				<div class=" col-xs-12" >
					<div class="row">
						<div class="col-xs-12">
							<div spt-k-grid="tablaSeguros" spt-k-grid-titulo=""></div>
						</div>
					</div>           
				</div>
			</div>
		</div>
		
                 
	</div>
</div>
