	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-11 col-with-border" >
			<div class="row row-separator">
				<div class="col-xs-9 pull-left col-without-padding">
					<span class="label label-default label-header-sm">List of Head Phones</span>
				</div>
				<div class="col-xs-3  col-without-padding">
					<!-- <button type="button" class="btn btn-default btn-sm pull-right" ng-click="exportarPDF()" title="Export to Pdf"><img src="/js/angularApps/proveedores/Assets/_img/acroread.png"></span></button> -->
					<button type="button" class="btn btn-default btn-sm pull-right" ng-click="obtenerListadoHeadPhones()" title="refresh data"><span class="icon-refresh rojoSpt">&nbsp;</span></button>
					<button type="button" class="btn btn-default btn-sm pull-right" ng-click="validarPrecioHeadPhones()" title="validate cost" ><span class="icon-cash rojoSpt"></span></button>
					<button type="button" class="btn btn-default btn-sm pull-right" ng-click="openEditarCosteHeadPhone()" title="modify cost" ><span class="icon-edit rojoSpt"></span></button>
					<button type="button" class="btn btn-default btn-sm pull-right" ng-click="openConfirmarHeadPhone()" title="confirm head Phone" ><span class="icon-checkmark rojoSpt"></span></button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div spt-k-grid="tablaHeadPhones" spt-k-grid-titulo=""></div>
				</div>
			</div>
		</div>
		
                 
	</div>
</div>

		