
<div >
	 <style>
       

        .modal-lg {
            width: 75% !important;
        }
        
      

       
    </style>
	   <div class=" modal-header">
            <h3 class="modal-title">
               service flights
                <span class="icon-cross pull-right" ng-click="cancel();" title="Cancel"></span>
            </h3>
        </div>
	<div class="modal-body">
		<div class="row row-separator">
			<div class="col-xs-11 pull-left col-with-border">
				<div class="row row-separator">
					<div class="col-xs-8 pull-left col-without-padding">
						<span class="label label-default label-header-sm">Flights</span>
					</div>
					<div class="col-xs-2" >
							<label>Issue Date</label>
							
							<div spt-fecha calendario="true" ng-model="model.fechaEmision" spt-directiva="{bsClass:'sm'}" name="fechaEmision" required="true" placeholder="...dd/mm/yyyy"></div>
						</div>
					<div class="col-xs-1 col-without-padding pull-right" >
						<button type="button" class="btn btn-default btn-sm pull-right" ng-click="editarVueloPredeterminado()" title="set flight to service" ><span class="icon-plane rojoSpt"></span></button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12" >
						<div spt-k-grid="tablaVuelos" spt-k-grid-titulo=""></div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-xs-11 col-with-border" >
				<form name="formVuelo" no validate>
					<div class="row row-separator">
						
						
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.inOut.$invalid && model.submit }">
							<label>In/Out*</label>
							<select name="inOut" ng-model="model.inOut" class="form-control input-sm" required>
								<option value="">...</option>
								<option value="1">IN</option>
								<option value="0">OUT</option>
							</select>
						</div>
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.fechaSalida.$invalid && model.submit }">
							<label>Flight Date*</label>
							
							<div spt-fecha calendario="true" ng-model="model.fechaSalida" spt-directiva="{bsClass:'sm'}" name="fechaSalida" required="true" placeholder="...dd/mm/yyyy"></div>
						</div>
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.CIA.$invalid && model.submit }">
							<label>Carrier*</label>
							<div class="input-group input-group-sm">
								<select name="CIA" class="form-control input-sm" ng-model="model.CIA" ng-options="item.idCiaAerea as item.inicialesCiaAerea + '-' + item.nombreCiaAerea  for item in cias" ng-change="obtenerVuelo()" required></select>
							</div>
							
						</div>
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.vuelo.$invalid && model.submit }">
							<label>Flight Number*</label>
							<div class="input-group input-group-sm">
								<input name="vuelo" type="text" class="form-control input-sm" placeholder="..." ng-model="model.vuelo" ng-change="obtenerVuelo()" required />

							</div>
						</div>
						<div class="col-xs-2" >
							<label>Flight Info:</label>
							<div>
							{{ model.flightFound ? model.iniAptoDes + '-' + model.iniAptoHas + model.horaDes + '-' + model.horaHas : 'Flight Not Found'}}
							</div>
						</div>
						
					</div>
					<!-- <div class="row row-separator">
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.cityDes.$invalid && model.submit }">
							<label>City. From.*</label>
							<div class="input-group input-group-sm">

								<select name="cityDes" class="form-control input-sm" ng-model="model.cityDes" ng-options="item.idCiudad as item.nombreCiudad for item in ciudades | orderBy:'nombreCiudad':reverse=false" required></select>
								

							</div>
						</div>
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.aptoDes.$invalid && model.submit }">
							<label>Airport*</label>
							<div class="input-group input-group-sm">

								<select name="aptoDes" class="form-control input-sm" ng-model="model.aptoDes" ng-options="item.idTerminalTraslado as item.aeropuertoTerminalTraslado + '-' + item.nombreTerminalTraslado for item in nodos | filter:item.idCiudadTerminalTraslado = model.cityDes" required></select>
								
							</div>
						</div>
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.horaDes.$invalid && model.submit }">
							<label>Hour*</label>
							<div class="input-group input-group-sm">
								<input name="horaDes" type="text" class="form-control input-sm" placeholder="...hh:mm" ng-model="model.horaDes"  spt-hora required />

							</div>
						</div>
					</div> -->
					<!-- <div class="row row-separator">
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.cityHas.$invalid && model.submit }">
							<label>City. To.*</label>
							<div class="input-group input-group-sm">

								<select name="cityHas" class="form-control input-sm" ng-model="model.cityHas" ng-options="item.idCiudad as item.nombreCiudad for item in ciudades | orderBy:'nombreCiudad':reverse=false" required></select>
								

							</div>
						</div>
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.aptoHas.$invalid && model.submit }">
							<label>Airport To*</label>
							<div class="input-group input-group-sm">

								<select name="aptoHas" class="form-control input-sm" ng-model="model.aptoHas" ng-options="item.idTerminalTraslado as item.aeropuertoTerminalTraslado + '-' + item.nombreTerminalTraslado for item in nodos | filter:item.idCiudadTerminalTraslado = model.cityHas" required></select>
								
							</div>
						</div>
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.horaHas.$invalid && model.submit }">
							<label>Hour To*</label>
							<div class="input-group input-group-sm">
								<input name="horaHas" type="text" class="form-control input-sm" placeholder="...hh:mm" ng-model="model.horaHas"  spt-hora required />

							</div>
						</div>
						
					</div> -->
					<div class="row">
						<div class="col-xs-2" ng-class="{ 'has-error' : formVuelo.horaRecogida.$invalid && model.submit }">
							<label>Pick Up*</label>
							<div class="input-group input-group-sm">
								<input name="horaRecogida" type="text" class="form-control input-sm" placeholder="...hh:mm" ng-model="model.horaRecogida"  spt-hora required />

							</div>
						</div>
						<div class="col-xs-9" >
							<label>Flight Reference</label>
							<textarea id="notas" name="notas" style="width: 100%; height: 58px;" ng-model="model.notas" class="form-control input-sm"></textarea>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
			
			
			
			
	</div>
	
	<div class="modal-footer">
		<div class="form-group pull-right">
			<button type="button" class="btn btn-default" ng-click="ok(formVuelo.$invalid)"><span class="icon-circle-plus"></span>&nbsp;add new</button>
		</div>
	</div>

</div>
